################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/.vs/backend
/backend/backend/bin/Debug/net7.0
/backend/backend/obj
/backend/backend/backend.csproj.user
/backend/.vs/ProjectEvaluation
